<h2>
    Validaciones reactivas
</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)='submitFormulario()' [formGroup]="miFormulario" >
            <!--Nombre  -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Usuario</label>
                <div class="col-sm-9" >
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre del usuario" >
                    <span *ngIf="campoNoValido('nombre')" class="form-text text-danger" > debe ser formato nombre y apellido</span>
                </div>
            </div>
            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9" >
                    <input type="email" 
                    formControlName="email"
                    class="form-control" 
                    placeholder="email del usuario" >
                    <!-- <span *ngIf="campoNoValido('email')" class="form-text text-danger" > {{emailErrorMsg}}</span> -->
                    <span *ngIf="emailRequired()" class="form-text text-danger" > el email es requerido</span>
                    <span *ngIf="emailFormato()" class="form-text text-danger" > debe ser formato email</span>
                    <span *ngIf="emailTomado()" class="form-text text-danger" > este email ya esta e uso</span>
                    
                    
                </div>
            </div>
            <!-- UserName    -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">UserName</label>
                <div class="col-sm-9" >
                    <input type="text" 
                    formControlName="userName"
                    class="form-control" 
                    placeholder="nombre codigo del usuario" >
                    <span *ngIf="campoNoValido('userName')" class="form-text text-danger" > El userName no piuede ser strider</span>
                </div>
            </div>
            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9" >
                    <input type="password" 
                    formControlName="password"
                    class="form-control" 
                    placeholder="password de su cuenta" >
                    <span *ngIf="campoNoValido('password')" 
                    class="form-text text-danger" > la contrasena debe ser mayor a 6</span>
                    
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar password</label>
                <div class="col-sm-9" >
                    <input type="password" 
                    class="form-control" 
                    formControlName="verificaPassword"
                    placeholder="confirmar password de su cuenta" >
                    <span *ngIf="campoNoValido('verificaPassword')" 
                    class="form-text text-danger" > las contrasenas no coinciden</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button [disabled]='miFormulario.pending || miFormulario.invalid' (click)="submitFormulario()" type="submit" class="btn btn-primary float-end" >
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<h2>form valid: {{miFormulario.valid}}</h2>
<h2>form estatus: {{miFormulario.status}}</h2>
<h2>nombre {{miFormulario.controls.nombre.errors|json}}</h2>
<h2>email {{miFormulario.controls.email.errors|json}}</h2>
<h2>userName {{miFormulario.controls.userName.errors|json}}</h2>
<h2>password {{miFormulario.controls.password?.errors|json}}</h2>
